In [1]:
import pandas as pd
import numpy as np
dfm=pd.read_csv('movies.csv')
dfr=pd.read_csv('ratings.csv')

In [2]:
dfm

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

* Data analysis
* 1.Description
* 2.Diagnosis
* 3.Prediction
* 4.Action,Prescription

In [3]:
# The column names
cols=['user_id', 'movie_id', 'rating', 'timestamp']

In [4]:
# Read the file
df=pd.read_csv('u.data', sep='\t', names=cols)

#### comprehension
#### a=[2,3,4,5]
#### b=[i*2 for i in a]

#### b=[4,6,8,10]

In [5]:
item_cols=['movie_id','title'] + [str(i) for i in range (22)]

In [6]:
# Read the other file
# [['movie_id','title']] will dislplay only these two columns
df1=pd.read_csv('u.item', sep='|', names= item_cols, encoding="ISO-8859-1")[['movie_id','title']]

In [7]:
# no. of rows and columns
df1.shape

(1682, 2)

In [8]:
df1

      movie_id                                      title
0            1                           Toy Story (1995)
1            2                           GoldenEye (1995)
2            3                          Four Rooms (1995)
3            4                          Get Shorty (1995)
4            5                             Copycat (1995)
...        ...                                        ...
1677      1678                          Mat' i syn (1997)
1678      1679                           B. Monkey (1998)
1679      1680                       Sliding Doors (1998)
1680      1681                        You So Crazy (1994)
1681      1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

* Exploratory Data Analysis(EDA)

In [9]:
# Read the file
df.sample(5)

       user_id  movie_id  rating  timestamp
19543      222       248       4  877563506
82105      907        83       5  880159865
45685      660       603       4  891199182
64449      660       151       5  891198335
69529      842       344       1  891217835

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100003 non-null  int64
 1   movie_id   100003 non-null  int64
 2   rating     100003 non-null  int64
 3   timestamp  100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [11]:
# (include='all') includes the info of all datatypes
df.describe(include='all')

             user_id       movie_id         rating     timestamp
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

#### Try to find the different data
* string data which is categorical
* string data with random stuff.
* numbers with quantified info
* numbers with categorical info
* Random numbers or id sort of data

In [12]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'timestamp'], dtype='object')

In [13]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [14]:
df['rating'].nunique()

5

In [15]:
df['user_id'].nunique()

944

In [16]:
df['movie_id'].nunique()

1682

#### Merging DataFrames

In [17]:
movie=pd.merge(df,df1,on='movie_id')
movie.head()

   user_id  movie_id  rating  timestamp             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [18]:
# Remove the redundant or useless columns i.e. timestamp
movie.drop('timestamp',axis=1,inplace=True)

In [19]:
movie.head()

   user_id  movie_id  rating             title
0        0        50       5  Star Wars (1977)
1      290        50       5  Star Wars (1977)
2       79        50       4  Star Wars (1977)
3        2        50       5  Star Wars (1977)
4        8        50       5  Star Wars (1977)

In [20]:
# Find the number of ratings for each movie
movie['title'].value_counts().head(10)

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [21]:
# Find the average rating for each movie
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
They Made Me a Criminal (1939)                5.0
Marlene Dietrich: Shadow and Light (1996)     5.0
Saint of Fort Washington, The (1993)          5.0
Someone Else's America (1995)                 5.0
Star Kid (1997)                               5.0
Name: rating, dtype: float64

# Day 14

In [22]:
ratings=pd.DataFrame(movie.groupby('title')['rating'].mean().sort_values(ascending=False))

In [23]:
ratings['count']=movie['title'].value_counts()

In [24]:
ratings.head(20)

                                                      rating  count
title
They Made Me a Criminal (1939)                      5.000000      1
Marlene Dietrich: Shadow and Light (1996)           5.000000      1
Saint of Fort Washington, The (1993)                5.000000      2
Someone Else's America (1995)                       5.000000      1
Star Kid (1997)                                     5.000000      3
Great Day in Harlem, A (1994)                       5.000000      1
Aiqing wansui (1994)                                5.000000      1
Santa with Muscles (1996)                           5.000000      2
Prefontaine (1997)                                  5.000000      3
Entertaining Angels: The Dorothy Day Story (1996)   5.000000      1
Pather Panchali (1955)                              4.625000      8
Some Mother's Son (1996)                            4.500000      2
Maya Lin: A Strong Clear Vision (1994)              4.500000      4
Anna (1996)                                         4.500000      2
Everest (1998)                                      4.500000      2
Close Shave, A (1995)                               4.491071    112
Schindler's List (1993)                             4.466443    298
Wrong Trousers, The (1993)                          4.466102    118
Casablanca (1942)                                   4.456790    243
Wallace & Gromit: The Best of Aardman Animation...  4.447761     67

In [25]:
ratings.sort_values(by='count',ascending=False).head(20)

                                    rating  count
title
Star Wars (1977)                  4.359589    584
Contact (1997)                    3.803536    509
Fargo (1996)                      4.155512    508
Return of the Jedi (1983)         4.007890    507
Liar Liar (1997)                  3.156701    485
English Patient, The (1996)       3.656965    481
Scream (1996)                     3.441423    478
Toy Story (1995)                  3.878319    452
Air Force One (1997)              3.631090    431
Independence Day (ID4) (1996)     3.438228    429
Raiders of the Lost Ark (1981)    4.252381    420
Godfather, The (1972)             4.283293    413
Pulp Fiction (1994)               4.060914    394
Twelve Monkeys (1995)             3.798469    392
Silence of the Lambs, The (1991)  4.289744    390
Jerry Maguire (1996)              3.710938    384
Chasing Amy (1997)                3.839050    379
Rock, The (1996)                  3.693122    378
Empire Strikes Back, The (1980)   4.206522    368
Star Trek: First Contact (1996)   3.660274    365

In [26]:
movie_pivot=movie.pivot_table(index='user_id', columns='title', values='rating')
movie_pivot.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### correlation- Σ [ (X – Xm) * (Y – Ym)] / √ [Σ (X – Xm)2 * Σ (Y – Ym)2]¶

In [27]:
movie_selected='Star Wars (1977)'
ms_rates=movie_pivot[movie_selected]
ms_rates.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [28]:
import warnings
warnings.filterwarnings('ignore')
corrs=movie_pivot.corrwith(ms_rates).sort_values(ascending=False)

In [29]:
corrs.head(20)

title
Hollow Reed (1996)                                                                   1.0
Commandments (1997)                                                                  1.0
Cosi (1996)                                                                          1.0
No Escape (1994)                                                                     1.0
Stripes (1981)                                                                       1.0
Star Wars (1977)                                                                     1.0
Man of the Year (1995)                                                               1.0
Beans of Egypt, Maine, The (1994)                                                    1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Outlaw, The (1943)                                                                   1.0
Line King: Al Hirschfeld, The (1996)                                                 1.0
Hurricane Streets (1998)                                                             1.0
Scarlet Letter, The (1926)                                                           1.0
Good Man in Africa, A (1994)                                                         1.0
Safe Passage (1994)                                                                  1.0
Golden Earrings (1947)                                                               1.0
Full Speed (1996)                                                                    1.0
Twisted (1996)                                                                       1.0
Ed's Next Move (1996)                                                                1.0
Mondo (1996)                                                                         1.0
dtype: float64

In [30]:
corrs_df=pd.DataFrame(corrs,columns={'correlation'})
corrs_df['rating']=ratings['rating']
corrs_df['count']=ratings['count'] 
corrs_df.head()

                     correlation    rating  count
title
Hollow Reed (1996)           1.0  2.333333      6
Commandments (1997)          1.0  2.666667      3
Cosi (1996)                  1.0  4.000000      4
No Escape (1994)             1.0  2.400000      5
Stripes (1981)               1.0  3.800000      5

In [31]:
corrs_df[corrs_df['count']>50].sort_values(by='correlation',ascending=False).head(10)

,correlation,rating,count
title,,,
Star Wars (1977),1.000000,4.359589,584
"Empire Strikes Back, The (1980)",0.748353,4.206522,368
Return of the Jedi (1983),0.672556,4.007890,507
Raiders of the Lost Ark (1981),0.536117,4.252381,420
Giant (1956),0.488093,3.745098,51
"Life Less Ordinary, A (1997)",0.411638,3.075472,53
Austin Powers: International Man of Mystery (1997),0.377433,3.246154,130
"Sting, The (1973)",0.367538,4.058091,241
Indiana Jones and the Last Crusade (1989),0.350107,3.930514,331
Pinocchio (1940),0.347868,3.673267,101

In [32]:
top_recomm=corrs_df[corrs_df['count']>50].sort_values(by='correlation',ascending=False).head(3).index

In [33]:
top_recomm

Index(['Star Wars (1977)', 'Empire Strikes Back, The (1980)',
       'Return of the Jedi (1983)'],
      dtype='object', name='title')

In [34]:
top_recomm=list(corrs_df[corrs_df['count']>50].sort_values(by='correlation',ascending=False).head(3).index)

In [35]:
top_recomm.remove(movie_selected)

In [36]:
top_recomm

['Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)']

In [37]:
movie_selected

'Star Wars (1977)'

In [51]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
def movie_recommend(movie_selected='Star Wars (1977)'):
    cols=['user_id', 'movie_id', 'rating', 'timestamp']
    df=pd.read_csv('u.data', sep='\t', names=cols).drop('timestamp',axis=1)
    item_cols=['movie_id','title'] + [str(i) for i in range (22)]
    df1=pd.read_csv('u.item', sep='|',  encoding="ISO-8859-1",names= item_cols)
    
    # Merge the DataFrames
    movie=pd.merge(df,df1,on='movie_id')
    
    # Create Pivot Table
    movie_pivot=movie.pivot_table(index='user_id', columns='title', values='rating')
    
    # Find Similarity for Selected Movie
    corrs=movie_pivot.corrwith(movie_pivot[movie_selected])
    corrs_df=pd.DataFrame(corrs,columns={'correlation'})
    corrs_df['rating']=movie.groupby('title')['rating'].mean()
    corrs_df['count']=movie['title'].value_counts()
    
    # Find Top 2-3 recommendaions
    top_recomm=list(corrs_df[corrs_df['count']>50].sort_values(by='correlation',ascending=False).head(3).index)
    top_recomm.remove(movie_selected)
    
    return top_recomm

In [52]:
movie_recommend('Giant (1956)')

['Daylight (1996)', 'Anastasia (1997)']